@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --header: 4rem;
  /* colores */
  --color_primary: #d302a5;
  --color_primary_dark: #89006b;
  --color_primary_light: #fd73de;
  --color_second_dark: #01828e;
  --color_second: #03d4e7;
  --color_second_light: #5ddfeb;
  /* color body */
  --body_dark: #161a2e;
  --header_dark: rgb(9, 2, 26);
  --color_font: #fbfbfe;
  --color_acent: #24c115;
  /* color iconos*/
  --color_icon_inactive: rgb(217, 217, 217, 0.6);

  --blur: 1rem;
  --fs: clamp(3rem, 8vw, 7rem);
  --ls: clamp(-1.75px, -0.25vw, -3.5px);

  /* Secciones*/
  --section__mobile: 300px;
  --section-tablet: 600px;
  --section-desktop: 700px;

  /* tamaño de tipografia*/
  --size_text_mobile: 1rem; /*minimo 16px*/
  --size_text_tablet: 1.125rem; /*minimo 17- 18px*/
  --size_text_desktop: 1.25rem; /*minimo 18px*/

  --size_title_mobile: 2rem; /*minimo 24px-32px*/
  --size_title_tablet: 2.5rem; /*minimo 32px - 40px*/
  --size_title_desktop: 3rem; /*minimo 36-48px*/

  --size_subtitle_mobile: 1.5rem; /*minimo 18px - 24px */
  --size_subtitle_tablet: 1.75rem; /*minimo 20px - 28px */
  --size_subtitle_desktop: 2rem; /*minimo 24px - 32px */

  --size_text_btn_mobile: 1rem; /*minimo 16px*/
  --size_text_btn_tablet: 1.125rem; /*minimo 16- 18px*/
  --size_text_btn_desktop: 1.25rem; /*minimo 18px*/

  /* margenes */
  --m-4: 0.25rem;
  --m-8: 0.5rem;
  --m-12: 0.75rem;
  --m-16: 1rem;
  --m-20: 1.25rem;
  --m-24: 1.5rem;
  --m-28: 1.75rem;
  --m-32: 2rem;
  --m-36: 2.25rem;
  --m-40: 2.5rem;
  --m-44: 2.75rem;
  --m-48: 3rem;
  --m-52: 3.25rem;
  --m-56: 3.5rem;
  --m-60: 3.75rem;
  --m-64: 4rem;
  --m-68: 4.25rem;
  --m-72: 4.5rem;
  /* z-index */
  --z-tooltip: 10;
  --z-fixed: 100;
  /* tamaño de letras */
  --font-small: 1.5rem;
}

/* --------------- Estilos Generales  ---------------*/
* {
  padding: 0;
  border: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.content {
  grid-column-end: span 4;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background: var(--body_dark);
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  font-family: "Roboto", sans-serif;
}

.grid__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: var(--m-12);
  overflow-x: hidden;
  align-items: center;
}

main {
  margin-top: var(--header);
}

.section {
  overflow: hidden;
  height: calc(100% - var(--header));
}

/*Estilo del scrollbar*/
::-webkit-scrollbar {
  width: var(--m-8);
  background-color: var(--header_dark);
}

::-webkit-scrollbar-thumb {
  background-color: var(--color_second_light);
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color_second);
}

/*======================== Navigation ==================================*/
.nav__list,
.nav__link {
  display: flex;
}

.nav__link {
  flex-direction: column;
  align-items: center;
  row-gap: 0.25rem;
  color: var(--color_icon_inactive);
}

.nav__item {
  height: 100%;
  display: flex;
  align-items: center;
}

.nav__list {
  margin-top: 1rem;
  justify-content: space-around;
  padding: 0;
  height: 100%;
}

.nav__name {
  font-size: 0.8rem;
}

.nav__icon {
  font-size: var(--m-24);
}

.nav__link--active .nav__icon,
.nav__link--exact-active .nav__icon {
  color: var(--color_primary);
  /* Color activo */
}

.nav__link--active .nav__name,
.nav__link--exact-active .nav__name {
  color: var(--color_primary);
  /* Color activo para el texto */
}

.bars__menu {
  width: var(--m-32);
  height: var(--m-32);
  display: none;
  position: absolute;
  margin-right: var(--m-24);
  right: 0;
  cursor: pointer;
  z-index: 1;
  align-items: center;
}

/*Boton hamburguesa- Lineas*/
.bars__menu span {
  display: block;
  width: 100%;
  height: 2px;
  background: var(--color_primary);
  border-radius: 10px;
  margin-top: 0.375rem;
  transform-origin: 0px 100%;
  transition: all 300ms;
}

.activeline1__bars-menu {
  transform: rotate(45deg) translate(-2px, 1px);
}

.activeline2__bars-menu {
  opacity: 0;
  margin-left: -30px;
}

.activeline3__bars-menu {
  transform: rotate(-45deg) translate(-4px, 2px);
}

@media (min-width: 768px) and (max-width: 991px) {
  .nav__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 80%;
  }

  .bars__menu {
    display: block;
  }
  .nav__link {
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 14rem;
    height: 4rem;
    width: 100%;
  }
  .nav__item {
    width: 100%;
  }
  .nav__icon {
    font-size: var(--m-32);
  }

  .nav__name {
    font-size: var(--m-32);
    line-height: var(--m-32);
    font-weight: 900;
    text-align: left;
    padding-left: var(--m-20);
  }

  .nav__link--active .nav__name,
  .nav__link--exact-active .nav__name {
    color: var(--color_second_dark);
    width: 100%;
    transition: 0.5s;
  }
  .nav__link--active,
  .nav__link--exact-active {
    color: var(--color_second_dark);
    border-bottom: 1px solid var(--color_primary_light);
    width: 100%;
    transition: 0.5s;
  }
}

@media screen and (min-width: 1024px) {
  .bars__menu {
    display: none;
  }
  .nav__icon {
    display: none;
  }
  .nav__item {
    height: var(--header);

    width: 120px;
  }

  .nav__list {
    display: flex;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    width: 550px;
    align-items: center;
  }
  .nav__link {
    width: 8rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .nav__name {
    font-size: var(--m-18);
    text-align: center;
    font-weight: 500;
  }
  .nav__link--active .nav__name,
  .nav__link--exact-active .nav__name {
    color: var(--color_second_light);
    transition: 0.5s;
  }
  .nav__link--active,
  .nav__link--exact-active {
    border-bottom: 5px solid var(--color_second_dark);
    border-left: 2px solid var(--color_second_dark);
    border-right: 2px solid var(--color_second_dark);
    transition: 0.5s;
  }
}
